<div class="container" id='searchResult'>
  <div class="page-header">
    <h4>搜索&nbsp;
      <strong>劳动合同</strong>&nbsp;共找到&nbsp;
      <em>135,562</em>&nbsp;条</h4>
  </div>
  <ul class="timeline">
    <li class="timeline-inverted">
      <div class="timeline-time">
        <span class="bg-warning">
          2016-06-14
        </span>
      </div>
      <div class="timeline-badge info">
        <i class="fa fa-circle"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">张某诉李某等离婚后财产纠纷案</h4>
        </div>
        <div class="timeline-body">
          <p>案例释义：婚前一方父母小额出资的按揭房产为夫妻共同财产</p>
          <p>
            终审法院：成都市中级人民法院
          </p>
        </div>
        <div class='timeline-label'>
          <span class="label label-success">摘要</span>
          <span class="label label-info">案由</span>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-time">
        <span class="bg-warning">
          2016-06-14
        </span>
      </div>
      <div class="timeline-badge info">
        <i class="fa fa-circle"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">张某诉李某等离婚后财产纠纷案</h4>
        </div>
        <div class="timeline-body">
          <p>案例释义：婚前一方父母小额出资的按揭房产为夫妻共同财产</p>
          <p>
            终审法院：成都市中级人民法院
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-time">
        <span class="bg-warning">
          2016-06-14
        </span>
      </div>
      <div class="timeline-badge info">
        <i class="fa fa-circle"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">张某诉李某等离婚后财产纠纷案</h4>
        </div>
        <div class="timeline-body">
          <p>案例释义：婚前一方父母小额出资的按揭房产为夫妻共同财产</p>
          <p>
            终审法院：成都市中级人民法院
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
