<div id='searchResult'>
  <div class="panel panel-primary patch">
    <div class="panel-heading">
      <span>
        搜索<strong>&nbsp;劳动合同&nbsp;</strong>共找到<em>&nbsp;135,562&nbsp;</em>条
      </span>
    </div>
    <div class="panel-body">
      <ul class="timeline">
        <li class="timeline-inverted">
          <div class="timeline-time">
            <span class="bg-warning">
              2016-06-14
            </span>
          </div>
          <div class="timeline-badge info">
            <i class="fa fa-circle"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">张某诉李某等离婚后财产纠纷案</h5>
            </div>
            <div class="timeline-body">
              <p>案例释义：婚前一方父母小额出资的按揭房产为夫妻共同财产</p>
              <p>
                终审法院：成都市中级人民法院
              </p>
            </div>
            <div class='timeline-label'>
              <span class="label label-success">摘要</span>
              <span class="label label-info">案由</span>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-time">
            <span class="bg-warning">
              2016-06-14
            </span>
          </div>
          <div class="timeline-badge info">
            <i class="fa fa-circle"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">张某诉李某等离婚后财产纠纷案</h5>
            </div>
            <div class="timeline-body">
              <p>案例释义：婚前一方父母小额出资的按揭房产为夫妻共同财产</p>
              <p>
                终审法院：成都市中级人民法院
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-time">
            <span class="bg-warning">
              2016-06-14
            </span>
          </div>
          <div class="timeline-badge info">
            <i class="fa fa-circle"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">张某诉李某等离婚后财产纠纷案</h5>
            </div>
            <div class="timeline-body">
              <p>案例释义：婚前一方父母小额出资的按揭房产为夫妻共同财产</p>
              <p>
                终审法院：成都市中级人民法院
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
