<div id="judgementSearch">
  <section class='wiserv-ui'>
    <div class="panel panel-primary patch">
      <div class="panel-heading">
        <span class='search-result'>裁判文书 共找到
          {{judgementLibSearch.total}}
          篇</span>
        <ul class="nav navbar-nav">
          <li class="dropdown" uib-dropdown>
            <a uib-dropdown-toggle class="dropdown-toggle">
              <span class="glyphicon glyphicon-list-alt"></span>&nbsp;案由
              <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu class="metismenu dropdown-menu patch list-group" id="libSearch" wiserv-lib-search>
              <li ui-sref-active="active" class=" list-group-item" ng-repeat='item in data'>

                <a aria-expanded="true" data-name={{item.caseBriefName}} ng-click='judgementLibSearch.searchByCaseBrief($event,1)'>
                  {{item.caseBriefName}}({{item.verdictNum ? item.verdictNum :0}})
                  <span class="fa arrow"></span>
                </a>
                <ul aria-expanded="false" class=" list-group">
                  <li ui-sref-active="active" class=" list-group-item" ng-repeat='item1 in item.childNode'>

                    <a aria-expanded="true" data-name={{item1.caseBriefName}} ng-click='judgementLibSearch.searchByCaseBrief($event,2)'>
                      {{item1.caseBriefName}}({{item1.verdictNum ? item1.verdictNum :0}})
                      <span class="fa arrow"></span>
                    </a>
                    <ul aria-expanded="false" class=" list-group">
                      <li ui-sref-active="active" class=" list-group-item" ng-repeat='item2 in item1.childNode'>

                        <a aria-expanded="false" data-name={{item2.caseBriefName}} ng-click='judgementLibSearch.searchByCaseBrief($event,3)'>
                          {{item2.caseBriefName}}({{item2.verdictNum ? item2.verdictNum :0}})
                          <span class="fa arrow"></span>
                        </a>
                        <ul aria-expanded="false" class=" list-group">
                          <li ui-sref-active="active" class=" list-group-item" ng-repeat='item3 in item2.childNode'>

                            <a aria-expanded="false" data-name={{item3.caseBriefName}} ng-click='judgementLibSearch.searchByCaseBrief($event,4)'>
                              {{item3.caseBriefName}}({{item3.verdictNum ? item3.verdictNum :0}})
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown dropdown-append-to-body>
            <a uib-dropdown-toggle class="dropdown-toggle">
              <span class="glyphicon glyphicon-bookmark"></span>&nbsp;法院层级
              <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu patch list-group">
              <li class='list-group-item' ng-repeat='item in judgementLibSearch.courtlevelData'>
                <a href='javascript:;' data-court-level={{item.courtLevel}} ng-click='judgementLibSearch.searchByCourtLevel($event)'>
                  <span class="badge">{{item.verdictNum}}</span>{{item.courtLevel}}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown dropdown-append-to-body>
            <a uib-dropdown-toggle class="dropdown-toggle">
              <span class="glyphicon glyphicon-map-marker"></span>&nbsp;地域
              <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu patch" id='chinaMapUl' ng-click='judgementLibSearch.showProvince($event)'>
              <li>
                <div class='pull-left'><wiserv-china-map/></div>
                <div class='pull-right map-detail'>
                  <div class='prov-img'></div>
                  <h2>{{province}}</h2>
                  <div class='seperate-line'></div>
                  <div class='area-court'>
                    <ul>
                      <li ng-repeat="item in provinceData.childNode">
                        <a data-court-place={{item.courtName}} ng-click='judgementLibSearch.searchByArea($event)'>{{item.courtName}}({{item.verdictNum}})</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown dropdown-append-to-body>
            <a uib-dropdown-toggle class="dropdown-toggle">
              <span class="glyphicon glyphicon-calendar"></span>&nbsp;裁判日期
              <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu patch">
              <li>
                <div id='dateMonthYear'>
                  <h2 class="text-center">{{ judgementLibSearch.calendarTitle }}</h2>

                  <div class="btn-group">

                    <button class="btn btn-primary" ng-click='$event.stopPropagation();' mwl-date-modifier date="judgementLibSearch.viewDate" decrement="judgementLibSearch.calendarView">
                      上一年
                    </button>
                    <button class="btn btn-default" ng-click='$event.stopPropagation();' mwl-date-modifier date="judgementLibSearch.viewDate" set-to-today>
                      今年
                    </button>
                    <button class="btn btn-primary" ng-click='$event.stopPropagation();' mwl-date-modifier date="judgementLibSearch.viewDate" increment="judgementLibSearch.calendarView">
                      下一年
                    </button>
                  </div>
                  <mwl-calendar events="judgementLibSearch.events" view="judgementLibSearch.calendarView" view-title="judgementLibSearch.calendarTitle" view-date="judgementLibSearch.viewDate" on-view-change-click="judgementLibSearch.viewChangeClicked(calendarNextView)" cell-modifier="judgementLibSearch.modifyCell(calendarCell)" on-timespan-click="judgementLibSearch.timespanClicked(calendarDate)"></mwl-calendar>

                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown dropdown-append-to-body>
            <a uib-dropdown-toggle class="dropdown-toggle">
              <span class="glyphicon glyphicon-list"></span>&nbsp;文书类型
              <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu patch list-group">
              <li class='list-group-item' ng-repeat='item in judgementLibSearch.doctypeData'>
                <a href='javascript:;' data-docType={{item.docType}} ng-click='judgementLibSearch.searchByDocType($event)'>
                  <span class="badge">{{item.verdictNum}}</span>{{item.docType}}</li>
              </a>
            </ul>
          </li>
        </ul>
      </div>
      <div class="panel-body">

        <div class='pull-right search-container'>

          <ul class='search-condition'>
            <span>检索条件：</span>
            <li ng-show='searchParam.causeOfAction'>
              <label>案由：</label>{{searchParam.causeOfAction}}
              <span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeCauseOfAction()'></span>
            </li>
            <!-- <li><label>关键词：</label>财产纠纷<span class='removeCondition glyphicon glyphicon-remove'></span></li> -->
            <li ng-show='searchParam.courtLevel'>
              <label>法院：</label>{{searchParam.courtLevel}}
              <span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeCourtLevel()'></span>
            </li>
            <li ng-show='searchParam.docType'>
              <label>文书类型：</label>{{searchParam.docType}}
              <span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeDoctype()'></span>
            </li>
            <li ng-show='searchParam.courtPlace'>
              <label>地域：</label>{{searchParam.courtPlace}}
              <span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeCourtPlace()'></span>
            </li>
            <li ng-show='searchParam.judgmentDate'>
              <label>日期：</label>{{searchParam.judgmentDate}}
              <span class='removeCondition glyphicon glyphicon-remove' ng-click='judgementLibSearch.removeJudgmentDate()'></span>
            </li>
          </ul>
        </div>

        <ul class="timeline" cg-busy="{promise:judgementLibSearch.promise,message:'加载中',backdrop:backdrop,delay:delay,minDuration:minDuration}">
          <li class="timeline-inverted" ng-repeat='item in judgementLibSearch.dataList'>
            <div class="timeline-time">
              <span class="bg-warning">
                {{item.create_time}}
              </span>
            </div>
            <div class="timeline-badge info">
              <i class="fa fa-circle"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title">{{item.title}}</h5>
              </div>
              <div class="timeline-body">
                <div class='subtitle'>
                  <div class='col-sm-4'>{{item.court_name}}</div>
                  <div class='col-sm-4'>{{item.case_no}}</div>
                </div>
                <h5 class='conent-label'>【正文】</h5>
                <p ng-bind-html='item.ori_text | cut:filtered | highlight:keyword'>
                </p>
                <a ng-init='filtered= true' ng-click='filtered = !filtered'>
                  <span ng-show='filtered'>展开
                    <i class='glyphicon glyphicon-chevron-down'></i>
                  </span>
                  <span ng-show='!filtered'>收起
                    <i class='glyphicon glyphicon-chevron-up'></i>
                  </span>
                </a>
              </div>
              <!-- <div class='timeline-label'>
                <span class="label label-success">摘要</span>
                <span class="label label-info">案由</span>
              </div> -->
            </div>
          </li>
        </ul>
        <ul class='pull-right' boundary-links='true'  uib-pagination total-items=Paging.totalItems items-per-page='Paging.itemsPerPage' ng-model='Paging.currentPage' boundary-link-numbers='true' rotate='true'  max-size='Paging.maxSize'  ng-change="Paging.pageChanged()" first-text='首页' last-text='末页' next-text='下一页' previous-text='上一页'></ul>
      </div>
    </div>
  </section>
</div>
