<div id='frame'>
  <section id='navbar'>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a ui-sref="frame.dashboard" class="navbar-brand">
          <span class="glyphicon glyphicon-home">&nbsp;法官判案智能辅助系统</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" uib-dropdown dropdown-append-to-body>
          <a uib-dropdown-toggle class="dropdown-toggle">
            <span class="glyphicon glyphicon-user">&nbsp;系统管理员</span>
            <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu class="dropdown-menu">
            <li role="menuitem"><a href="#">用户详情</a></li>
            <li role="menuitem"><a href="#">用户管理</a></li>
            <li role="menuitem"><a href="#">修改密码</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">退出</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>

  <section id='menu'>
    <ul class="nav nav-pills nav-stacked">
      <li ui-sref-active="active" class="active">
        <a ui-sref="frame.judgment">
          <span class="glyphicon glyphicon-book">&nbsp;裁判文书</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="frame.repository">
          <span class="glyphicon glyphicon-th">&nbsp;知识库</span>
        </a>
      </li>
    </ul>
  </section>

  <section id="content">
    <div ui-view></div>
  </section>


</div>
