#frame {
  .fill;
  >#navbar {
    width: 100%;
    display: block;
    .navbar {
      margin-bottom: 1px;
      .navbar-brand {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .navbar-right {
        position: relative;
        right: 25px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    .breadcrumb {
      display: inline-block;
      position: relative;
      top: 11px;
      left: 15px;
      margin: 0;
      border: 0;
      border-radius: 10px;
      padding: 3px 10px;
      font-size: 80%;
    }
  }
  >#menu {
    display: inline-block;
    width: 10%;
    height: 100%;
    float: left;
    background: @blue;
  }
  >#content {
    .fill;
    >div {
      border: 1px solid @blue;
      display: inline-block;
      width: 90%;
      height: 100%;
      float: left;
      padding: 0;
    }
  }
}
