<div id='frame'>
  <section id='navbar'>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a ui-sref="frame.dashboard" class="navbar-brand">
          <span class="glyphicon glyphicon-home">&nbsp;法官判案智能辅助系统</span>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-left breadcrumb">
          <li><a href="#">系统管理</a></li>
          <li><a href="#">用户管理</a></li>
          <li class="active">权限管理</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" uib-dropdown dropdown-append-to-body>
            <a uib-dropdown-toggle class="dropdown-toggle">
              <span class="glyphicon glyphicon-user">&nbsp;系统管理员</span>
              <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu class="dropdown-menu patch">
              <li><a href="#">用户详情</a></li>
              <li><a href="#">用户管理</a></li>
              <li><a href="#">修改密码</a></li>
              <li class="divider"></li>
              <li>
                <a ui-sref="login">
                  <span class="glyphicon glyphicon-log-out">&nbsp;退出</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </section>

  <section id='menu'>
    <ul class="nav nav-pills nav-stacked">
      <li ui-sref-active="active" class="active">
        <a ui-sref="frame.dashboard">
          <span class="glyphicon glyphicon-th">&nbsp;系统概览</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="frame.judgment">
          <span class="glyphicon glyphicon-grain">&nbsp;裁判文书</span>
        </a>
      </li>
      <li ui-sref-active="active" uib-dropdown dropdown-append-to-body>
        <a ui-sref="frame.repository" uib-dropdown-toggle class="dropdown-toggle">
          <span class="glyphicon glyphicon-indent-right">&nbsp;知识库</span>
        </a>
        <ul uib-dropdown-menu class="dropdown-menu patch">
          <li ui-sref-active="active" >
            <a ui-sref="frame.repositoryLaws" >
              <span class="glyphicon glyphicon-file">&nbsp;知识库（法条库）</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section id="content">
    <div ui-view></div>
  </section>


</div>
