<div id="judgment-case-list">
  <div class="wiserv-ui">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <a class="btn btn-primary" ng-click="judgment.open()">
          <span class="glyphicon glyphicon-plus">&nbsp;生成裁判文书</span>
        </a>
        <div class="input-group">
          <input placeholder='请输入查询案件名称...' type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search">&nbsp;搜索</span></button>
          </span>
        </div>
      </div>
      <div class="panel-body wiserv-ui">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <span class="badge">民事案件</span>
            <span class="glyphicon glyphicon-book">&nbsp;</span>
            <span class="title">刘永群诉陈真民间借贷纠纷</span>
            <span class="button text-primary" ng-click="judgment.open()">生成裁判文书</span>
          </li>
          <li class="list-group-item">
            <span>原告：Hank</span>
            <span>原告委托代理人：Morbi</span>
            <span>被告：Porta</span>
            <span>被告委托代理人：Vestibulum</span>
          </li>
          <li class='list-group-item'>
            诉求：Vestibulum at eros
          </li>
        </ul>

        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <span class="badge">民事案件</span>
            <span class="glyphicon glyphicon-book">&nbsp;</span>
            <span class="title">刘永群诉陈真民间借贷纠纷</span>
            <span class="button text-primary" ng-click="judgment.open()">生成裁判文书</span>
          </li>
          <li class="list-group-item">
            <span>原告：Hank</span>
            <span>原告委托代理人：Morbi</span>
            <span>被告：Porta</span>
            <span>被告委托代理人：Vestibulum</span>
          </li>
          <li class='list-group-item'>
            诉求：Vestibulum at eros
          </li>
        </ul>

      </div>
      <ul class='pull-right' uib-pagination total-items="32" ng-model="1" ng-change="pageChanged()"></ul>
    </div>
  </div>

</div>
