#login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: @white;
  height: 100%;
  width: 100%;
  background: url('../assets/images/common/background.png');
  .pannel {
    background-color:rgba(0,0,0,.3);
    width: 500px;
    height: 300px;
    form {
      margin: 80px 50px;
      input {
        background-color: rgba(0,0,0,.2);
        border: none;
        color: @white;
      }
    }
  }
}
