#judgment-case-list-modal {
  .fill;
  .clean;
  flex-direction: column;
  align-items: strecth;
  .access {
    .clean;
    list-style: none;
    li {
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  .editor {
    display: flex;
    flex-direction: row;
    .left {
      flex-basis: 500px;
      .clean;
    }
    .center {
      flex-basis: auto;
      border: 1px solid @gray;
    }
    .right {
      .clean;
      flex-basis: 500px;
    }
  }
}
