#judgment-case-list-generator {
  .fill;
  .clean;
  flex-direction: column;
  align-items: strecth;
  .panel {
    height: 100%;
    .panel-heading {
      .access {
        .clean;
        list-style: none;
        li {
          float: left;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
    .panel-body {
      height: 100%;
      .editor {
        height: 95%;
        display: flex;
        flex-direction: row;
        .left {
          flex: 1;
          .clean;
        }
        .center {
          background: url(../assets/images/judgment/paper.png);
          flex: 156mm;
          height: 100%;
          padding: 1em;
          border: 1px solid @gray;
          overflow-y: scroll;
          p:hover {
            background: @yellow;
          }
        }
        .right {
          flex: 4;
          margin: 0 0 0 -1px;
          padding: 0;
          .nav-item {
            font-size: 12px;
          }
          .nav-item .nav-link {
            color: @font-gray;
          }
          .nav-item.active .nav-link {
            background: @dark-gray;
            color: @black;
          }
          .material {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
              width: 30%;
              margin: 12px;
            }
          }
          .quote {
            display: inline-block;
            width: 100%;
          }
          .panel-group {
            margin: 0;
            .panel {
              .clean;
              border-top: none;
              .panel-heading {
                .panel-title {
                  font-size: 13px;
                  position: relative;
                  top: 13px;
                  left: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
