#judgment-case-list-generator {
  .fill;
  .clean;
  flex-direction: column;
  align-items: strecth;
  .access {
    .clean;
    list-style: none;
    li {
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  .editor {
    display: flex;
    flex-direction: row;
    .left {
      flex-basis: 250px;
    }
    article.center {
      flex-basis: 210mm;
      width: 210mm;
      font-size: 13px;
      border: 1px solid @gray;
      h4 {
        text-align: center;
      }
      h5 {
        text-align: right;
      }
      p {
        text-indent: 2em;
      }
      textarea {
        width: 55em;
        height: 10em;
        margin-left: 24px;
      }
    }
    .right {
      flex-basis: auto;
    }
  }
}
