<div id="judgment-case-list-generator" class='modal-dialog wiserv-ui'>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <ul class="access pull-left">
        <li>
          <button class="btn btn-primary">
            <i class="glyphicon glyphicon-eye-open">&nbsp;预览</i>
          </button>
        </li>
        <li>
          <button class="btn btn-primary">
            <i class="glyphicon glyphicon-record">&nbsp;记录</i>
          </button>
        </li>
        <li>
          <button class="btn btn-primary">
            <i class="glyphicon glyphicon-export">&nbsp;导出</i>
          </button>
        </li>
      </ul>
      <ul class="access pull-right">
        <li>
          <button ng-click='$close(result)' class="btn btn-primary">
            <i class="glyphicon glyphicon-remove">&nbsp;取消</i>
          </button>
        </li>
        <li>
          <button class="btn btn-primary">
            <i class="glyphicon glyphicon-ok">&nbsp;保存</i>
          </button>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <section class='editor'>
        <menu class="left">
          <treecontrol class="tree-classic"
             tree-model="dataForTheTree"
             options="treeOptions"
             on-selection="showSelected(node)"
             selected-node="node1">
             <a ng-href="{{node.link}}">{{node.name}} </a>
          </treecontrol>
        </menu>
        <article class="center">
          <section class='head'>
            <p ng-model="JudgmentGenerator.article.indexTitle.courtName" data-placeholder="文书标题-法院名称" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.indexTitle.lawCaseTitle" data-placeholder="文书标题-文书名称" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.indexTitle.lawCaseCode" data-placeholder="文书标题-案号" medium-editor></p>
          </section>
          <section class="body">
            <p ng-model="JudgmentGenerator.article.parties.accuser" data-placeholder="首部-当事人" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.parties.accuserAgent" data-placeholder="首部-当事人" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.parties.defendant" data-placeholder="首部-当事人" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.parties.defendantAgent" data-placeholder="首部-当事人" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.parties.caseGeneral" data-placeholder="首部-案件由来和审理经过" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.fact.claims" data-placeholder="事实-诉讼请求" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.fact.argued" data-placeholder="事实-证据" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.fact.factResult" data-placeholder="事实-事实" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.reason" data-placeholder="理由" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.caseMain" data-placeholder="裁判主文" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.bottom.legalCosts" data-placeholder="尾部-诉讼费用负担" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.bottom.informInfo" data-placeholder="尾部-告知事项" medium-editor></p>
          </section>
          <section class="foot">
            <p ng-model="JudgmentGenerator.article.inscribe.chiefJudge" data-placeholder="落款-署名" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.inscribe.judge" data-placeholder="事实-证据" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.inscribe.courtClerk" data-placeholder="事实-证据" medium-editor></p>
            <p ng-model="JudgmentGenerator.article.inscribe.judgmentDate" data-placeholder="落款-日期" medium-editor></p>
          </section>
        </article>
        <menu class="right">
          <uib-accordion>
            <div heading='案件信息' uib-accordion-group class="panel-default" is-open=true>
              test
            </div>
            <div  heading='案件材料' uib-accordion-group class="panel-default" is-open=true>
              test
            </div>
          </uib-accordion>
        </menu>
      </section>
      <!--
      <aside class="bottom">
        bottom
      </aside>
      -->
    </div>
  </div>
</div>
