<div id="summaryStructure">
  <section class='wiserv-ui'>
    <div class="panel panel-primary patch">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class='tree-nav'>
          <ul class="metismenu list-group" id="summaryStructureMenu" wiserv-summary-structure>

            <li ui-sref-active="active" class=" list-group-item" ng-repeat='item in data'>
                <a  aria-expanded="true">
                  <span class="sidebar-nav-item">{{item.caseBriefName}}</span>
                  <span class="fa arrow"></span>
                </a>
                <ul aria-expanded="false" class=" list-group">
                  <li ui-sref-active="active" class=" list-group-item" ng-repeat='item1 in item.childNode'>
                    <a aria-expanded="true">
                      <span>{{item1.caseBriefName}}</span>
                      <span class="fa arrow"></span>
                    </a>
                    <ul aria-expanded="false" class=" list-group">
                      <li ui-sref-active="active" class=" list-group-item" ng-repeat='item2 in item1.childNode'>
                        <a aria-expanded="false" >
                          <span>{{item2.caseBriefName}}</span>
                          <span class="fa arrow"></span>
                        </a>
                        <ul aria-expanded="false" class=" list-group">
                          <li ui-sref-active="active" class=" list-group-item" ng-repeat='item3 in item2.childNode'>
                            <a aria-expanded="false" >
                              <span>{{item3.caseBriefName}}</span>
                              <span class="fa arrow"></span>
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
