<div id="summaryExplain">
  <section class='wiserv-ui'>
    <div class="panel panel-primary patch">
      <div class="panel-heading"></div>
      <div class="panel-body">
        <div class='tree-nav'>
          <ul class="metismenu list-group" id="summaryExplainMenu" wiserv-summary-explain>
            <li ui-sref-active="active" class=" list-group-item" ng-repeat='item in data'>
                <a  aria-expanded="true" ng-repeat-start='(key,value) in item'>
                  <span class="sidebar-nav-item">{{key}}</span>
                  <span class="fa arrow"></span>
                </a>
                <ul aria-expanded="false" class=" list-group" ng-repeat-end>
                  <li ui-sref-active="active" class=" list-group-item" ng-repeat='item1 in value'>
                    <a aria-expanded="true" ng-repeat-start='(key1,value1) in item1'>
                      <span>{{key1}}</span>
                      <span class="fa arrow"></span>
                    </a>
                    <ul aria-expanded="false" class=" list-group" ng-repeat-end>
                      <li ui-sref-active="active" class=" list-group-item" ng-repeat='item2 in value1'>
                        <a aria-expanded="false" ng-repeat-start='(key2,value2) in item2'>
                          <span>{{key2}}</span>
                          <span class="fa arrow"></span>
                        </a>
                        <ul aria-expanded="false" class=" list-group" ng-repeat-end>
                          <li ui-sref-active="active" class=" list-group-item" ng-repeat='item3 in value2'>
                            <div ng-repeat='(key3,value3) in item3'>
                            <a aria-expanded="false" data-name='{{value3}}'  ng-click='summaryExplain.detail($event)'>
                              {{value3}}
                              <span class="fa arrow"></span>
                            </a>
                          </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
            </li>
          </ul>

          <div class='explain-content' ng-show='summaryExplain.showExplain'>
            <span class='close-icon' ng-click='summaryExplain.showExplain = false'>&times;</span>
            <h3>{{summaryExplain.name}}</h3>
            <div class="media" ng-repeat='(key,value) in summaryExplain.data'>
              <div class="media-body">
                <h4 class="media-heading">{{key}}</h4>
                <div class='content'>{{value}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
