#judgment-case-list-Editor {
  .fill;
  .clean;
  display: flex;
  flex-direction: column;
  align-items: strecth;
  .editor {
    display: flex;
    flex-direction: row;
    .left {
      flex: 2;
      .clean;
      .menu-tree {
        position: relative;
        top: 1em;
        a {
          color: @gray-font;
        }
      }
    }
    .center {
      background: url("../assets/images/judgment/paper.png");
      flex: 9;
      padding: 1em;
      border: 1px solid @gray;
      height: 900px;
      overflow-y: scroll;
      p:hover {
        background: @index-bg;
      }
      p:focus {
        background: @yellow;
      }
      #judgment {
        display: block;
        height: 200em;
      }
    }
    .right {
      flex: 4;
      margin: 0 0 0 -1px;
      padding: 0;
      .operation {
        height: 36px;
        border-bottom: 1px solid @gray;
        display: flex;
        justify-content: space-between;
        .left {
          width:100%;
          float:left;
          input{
            cursor:default;
          }
        }
        .operate-btn {
          float:left;
          width: 254px;
          margin-left:-190px;
          z-index:9;
        }
      }
      .timeline {
        font-size: 12px;
        color: @footer-bg;
        border-left: 1px solid @font-label;
        margin-left: 10px;
        list-style: none;
        padding-left: 0;
        .block {
          padding: 8px;
          border: 1px solid @font-label;
          border-radius: 10px;
          margin: 10px;
          p {
            height: 10px;
          }
        }
      }
      .panel-group {
        .panel {
          .clean;
          border-top: none;
          .panel-heading {
            .panel-title {
              font-size: 12px;
            }
          }
          .panel-body {
            .clean;
            border: none;
            .template-tree {
              padding: 10px auto;
              margin-left: 8px;
              max-height: 310px;
              overflow-y: scroll;
              .tree-unselectable {
                .tree-item {
                  color: @font-label !important;
                }
              }
              .tree-selected {
                .tree-item {
                  color: @white;
                }
              }
              .tree-item {
                margin-left: -4px;
                font-size: 12px;
                color: @gray-font;
              }
            }
            .template-tree-box {
              border-top: 1px solid @gray-light;
              margin-bottom: 5px;
            }
          }
        }
      }
      .split {
        height: 1px;
        .clean;
      }
      .nav-item {
        font-size: 12px;
      }
      .nav-item .nav-link {
        color: @font-gray;
      }
      .nav-item.active .nav-link {
        background: @dark-gray;
        color: @black;
      }
      .list-group {
        .clean;
        .list-group-item {
          cursor: pointer;
        }
      }
      .material {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
          width: 30%;
          margin: 12px;
          cursor: zoom-in;
        }
      }
      .content {
        font-size: 13px;
        color: @footer-bg;
        padding: 6px 8px;
        text-indent: 2em;
        line-height: 1.6em;
        max-height: 25em;
        overflow-y: scroll;
        >p {
          margin: 0;
        }
      }
      .content:focus {
        background: @yellow;
      }
      .similarCases {
        .content {
          cursor: text;
          max-height: 250px;
          overflow-y: scroll;
        }
        .content:active {
          font-weight: normal;
          text-decoration: none;
        }
      }
      .calculator {
        margin: 5px 25px 9px 12px;
        .btn-group {
          margin: 8px 2px 10px;
        }
      }

    }
  }



}


/*

*/
