<div id="judgment-case-list-Editor">
    <section class='editor'>
      <div class="left">
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button ui-sref='judgment.case_list' class="btn btn-danger btn-xs btn-close">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
          <input type="text" class="form-control" ng-model="tree.query" placeholder="文书菜单过滤 ...">
        </div>
        <div class="menu-tree">
          <treecontrol class="tree-classic"
             tree-model = "Editor.Constant.treeData"
             filter-expression = 'tree.query'
             options = "Editor.Constant.treeSectionOptions"
             expanded-nodes = "Editor.Constant.treeData"
             on-selection="Editor.Operation.jumpToSection(node.id)">
             {{node.name}}
          </treecontrol>
        </div>
      </div>
      <div class="center">
        <style>
          #judgment-head #courtName {
            text-align: center; line-height: 25pt; margin: 0.5pt 0cm; font-family: 宋体; font-size: 22pt;
          }
          #judgment-head #lawCaseTitle {
            text-align: center; line-height: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 26pt;
          }
          #judgment-head #lawCaseCode {
            text-align: right; line-height: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 16pt;
          }
          #judgment-body p {
            line-height: 25pt; text-align: justify; text-justify: inter-ideograph; text-indent: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 16pt;
          }
          #judgment-foot p {
            text-align: right; line-height: 25pt; margin: 0.5pt 72pt 0.5pt 0cm; font-family: 仿宋; font-size: 16pt;
          }
        </style>
        <div id='judgment' style="text-align: justify">
          <div id="judgment-head">
            <p data-placeholder="文书标题-法院名称"
               id="courtName"
               ng-model="Editor.Template.templateArticle.indexTitle.courtName"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="文书标题-文书名称"
               id="lawCaseTitle"
               ng-model="Editor.Template.templateArticle.indexTitle.lawCaseTitle"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="文书标题-案号"
               id="lawCaseCode"
               ng-model="Editor.Template.templateArticle.indexTitle.lawCaseCode"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
          </div>
          <div id="judgment-body">
            <p data-placeholder="首部-当事人"
               id="accuser"
               ng-model="Editor.Template.templateArticle.parties.accuser"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="首部-当事人"
               id="accuserAgent"
               ng-model="Editor.Template.templateArticle.parties.accuserAgent"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="首部-当事人"
               id="defendant"
               ng-model="Editor.Template.templateArticle.parties.defendant"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="首部-当事人"
               id="defendantAgent"
               ng-model="Editor.Template.templateArticle.parties.defendantAgent"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="首部-案件由来和审理经过"
               id="caseGeneral"
               ng-model="Editor.Template.templateArticle.parties.caseGeneral"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="事实-诉讼请求"
               id="claims"
               ng-model="Editor.Template.templateArticle.fact.claims"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="事实-证据"
               id="argued"
               ng-model="Editor.Template.templateArticle.fact.argued"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="事实"
               id="factResult"
               ng-model="Editor.Template.templateArticle.fact.factResult"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="本院认为"
               id="reason"
               ng-model="Editor.Template.templateArticle.reason"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="裁判主文"
               id="caseMain"
               ng-change="Editor.Operation.autoComplete()"
               ng-model="Editor.Template.templateArticle.caseMain"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="尾部-诉讼费用负担"
               id="legalCosts"
               ng-model="Editor.Template.templateArticle.bottom.legalCosts"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="尾部-告知事项"
               id="informInfo"
               ng-model="Editor.Template.templateArticle.bottom.informInfo"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
          </div>
          <div id="judgment-foot">
            <p data-placeholder="落款-署名"
               id="chiefJudge"
               ng-model="Editor.Template.templateArticle.inscribe.chiefJudge"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="事实-证据"
               id="judge"
               ng-model="Editor.Template.templateArticle.inscribe.judge"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="事实-证据"
               id="courtClerk"
               ng-model="Editor.Template.templateArticle.inscribe.courtClerk"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
            <p data-placeholder="落款-日期"
               id="judgmentDate"
               ng-model="Editor.Template.templateArticle.inscribe.judgmentDate"
               medium-editor bind-options="Editor.Constant.mediumEditorOptions"></p>
          </div>
        </div>
      </div>
      <menu class="right">
        <div class="operation">
          <div class="left">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <input type="checkbox" checked>
              </span>
              <input disabled type="text" class="form-control" value="自动保存 2016.10.13-15:59">
            </div>
          </div>
          <div class="operate-btn btn-group">
            <button class="btn btn-default btn-sm" ng-click='Editor.Operation.exportWORD()'>
              <i class="fa fa-file-word-o">&nbsp;导出</i>
            </button>
            <button ng-click='Editor.Operation.printJudgment()' class="btn btn-default btn-sm">
              <i class="fa fa-print">&nbsp;打印</i>
            </button>
            <button class="btn btn-primary btn-sm" ng-click='Editor.Operation.saveJudgment()'>
              <i class="fa fa-floppy-o">&nbsp;保存</i>
            </button>
          </div>
        </div>
        <uib-accordion close-others=true>
          <div uib-accordion-group class="panel-default" is-open=true>
            <uib-accordion-heading>
              <i class="fa fa-database">&nbsp;&nbsp;案件信息</i>
            </uib-accordion-heading>
            <div class="list-group">
              <a class="list-group-item">案件名称：{{Editor.Judgment.lawCaseTitle}}</a>
              <a class="list-group-item">审理程序：{{Editor.Judgment.judgment}}</a>
              <a class="list-group-item">案件类型：{{Editor.Judgment.category}}</a>
              <a class="list-group-item">案由：{{Editor.Judgment.causeOfAction}}</a>
              <a class="list-group-item">受理日期：{{Editor.Judgment.acceptedDate}}</a>
            </div>
          </div>
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-building-o">&nbsp;&nbsp;文书模板</i>
            </uib-accordion-heading>
            <div class="template-tree">
              <treecontrol class="tree-boot"
                 tree-model="Editor.TemplateTree.tree"
                 on-selection="Editor.TemplateTree.match(node)"
                 options="Editor.Constant.treeTemplateOptions"
                 expanded-nodes="Editor.TemplateTree.expandedNodes"
                 selected-node="Editor.TemplateTree.selectedNode">
                 <span class='tree-item'>{{node.conditionName}}</span>
              </treecontrol>
            </div>
            <div class='template-tree-box animated zoomIn'>
              <div class="btn-group">
                <button ng-click='Editor.TemplateTree.transfer({accordThinkInfo: Editor.TemplateTree.selectedContent.accordThinkInfo})' class="btn btn-default btn-xs">
                  <i class="fa fa-code-fork">&nbsp;引用</i>
                </button>
                <button ng-click='Editor.TemplateTree.update()' class="btn btn-success btn-xs">
                  <i class="fa fa-pencil-square-o">&nbsp;修改</i>
                </button>
              </div>
              <div class="content" medium-editor
                data-placeholder="本院认为内容"
                bind-options="Editor.Constant.mediumEditorOptions"
                ng-model='Editor.TemplateTree.selectedContent.accordThinkInfo'>
                {{Editor.TemplateTree.selectedContent.accordThinkInfo}}
              </div>
            </div>
          </div>
          <div ng-class='similarCases' uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-file-text-o">&nbsp;&nbsp;相似案例</i>
            </uib-accordion-heading>
            <ul class="list-group">
              <a class="list-group-item"
                 ng-repeat='similarCase in Editor.SimilarCase.list'
                 ng-click = "Editor.SimilarCase.choose(similarCase)">
                <span class="badge">{{similarCase.similarity}}</span>
                （{{$index+1}}）{{similarCase.caseTitle}} ({{similarCase.judgeDate}})
              </a>
            </ul>
            <div ng-if='Editor.SimilarCase.selected.orgText' class="content">
              {{Editor.SimilarCase.selected.orgText}}
            </div>
          </div>
          <div ng-class='lawitem' uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-qrcode">&nbsp;&nbsp;关联法条</i>
            </uib-accordion-heading>
            <uib-tabset active="activePill">
              <uib-tab index="0" heading="相似案例关联法条">
                <ul class="list-group">
                  <a ng-repeat='similarCase in Editor.SimilarCase.list' class="list-group-item">
                    <span class="badge">{{similarCase.similarity}}</span>
                    {{similarCase.laws[0]}}
                  </a>
                </ul>
              </uib-tab>
              <uib-tab index="1"
                heading="案件类型关联法条">
                <ul class="list-group">
                  <a ng-repeat='lawItem in Editor.LawItem.list' class="list-group-item">
                    {{lawItem.case_accord}}
                  </a>
                </ul>
              </uib-tab>
            </uib-tabset>
          </div>
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-bookmark-o">&nbsp;&nbsp;案件材料</i>
            </uib-accordion-heading>
            <uib-tabset active="activePill" type='pills'>
              <uib-tab ng-repeat='material in Editor.Constant.materials'
                index="$index" heading="{{material.tag}}">
                <div class="material" ng-click='Editor.Operation.openMaterial(material)'>
                  <img ng-src="{{material.path}}">
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-hourglass-end">&nbsp;&nbsp;编辑历史</i>
            </uib-accordion-heading>
            <ul class='timeline'>
              <li class='block' ng-repeat='history in Editor.Judgment.historyList'>
                <p>
                  <span class="text-primary pull-left">{{history.updateTime}}</span>
                  <span class="text-primary pull-right">{{history.updateBy}}</span>
                </p>
                <b class="text-warning">{{history.updateLabel}}</b>
                <span class="text-muted">{{history.updateInfo | limitTo:80}}</span>
              </li>

            </ul>
          </div>
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-calculator">&nbsp;&nbsp;费用计算</i>
            </uib-accordion-heading>
            <div class="calculator form-group form-group-sm">
              <label>输入标的额或诉讼费：</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-keyboard-o"></i></div>
                <input ng-model='Editor.test1' type="text" class="form-control" placeholder="(诉讼/保全/执行标的)或(案件受理费/保全费/执行费)">
              </div>
              <label>计算得出的费用结果：</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                <input ng-model='Editor.test2' type="text" class="form-control" placeholder="">
              </div>
              <div class="btn-group pull-right">
                <button ng-click='Editor.test2=Editor.test1*12' class="btn btn-default btn-xs">受理费用</button>
                <button ng-click='Editor.test2=Editor.test1*0.6' class="btn btn-default btn-xs">保全费用</button>
                <button ng-click='Editor.test2=Editor.test1*9.3' class="btn btn-default btn-xs">执行费用</button>
              </div>
            </div>
          </div>
          <div ng-if='Editor.Operation.suggestions.length!=0' uib-accordion-group class="panel-default" is-open=true>
            <uib-accordion-heading>
              <i class="fa fa-code">&nbsp;&nbsp;智能提示</i>
            </uib-accordion-heading>
            <ul class="list-group">
              <a class="list-group-item"
                 ng-repeat='suggestion in Editor.Operation.suggestions'>
                {{$index+1}} {{suggestion.phrase}}
              <a/>
            </ul>
          </div>
        </uib-accordion>
      </menu>
    </section>

  </div>
</div>


<script type="text/ng-template" id="materialModal.html">
  <img ng-src="{{Editor.Operation.targetMaterial.path}}">
</script>
