<div id="judgment-case-list-Editor">
    <section class='editor'>
      <div class="left">
        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button ui-sref='judgment.case_list' class="btn btn-danger btn-xs btn-close">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
          <input type="text" class="form-control" ng-model="tree.query" placeholder="文书菜单过滤 ...">
        </div>
        <div class="menu-tree">
          <treecontrol class="tree-classic"
             tree-model = "Editor.Constant.treeData"
             filter-expression = 'tree.query'
             options = "Editor.Constant.treeSectionOptions"
             expanded-nodes = "[
               Editor.Constant.treeData[0],
               Editor.Constant.treeData[1],
               Editor.Constant.treeData[2],
               Editor.Constant.treeData[5],
               Editor.Constant.treeData[6],
             ]"
             on-selection="Editor.Operation.jumpToSection(node.id)">
             {{node.name}}
          </treecontrol>
        </div>
      </div>
      <div class="center">
        <style>
          #judgment-head #courtName {
            text-align: center; line-height: 25pt; margin: 0.5pt 0cm; font-family: 宋体; font-size: 22pt;
          }
          #judgment-head #lawCaseTitle {
            text-align: center; line-height: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 26pt;
          }
          #judgment-head #lawCaseCode {
            text-align: right; line-height: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 16pt;
          }
          #judgment-body p {
            line-height: 25pt; text-align: justify; text-justify: inter-ideograph; text-indent: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 16pt;
          }
          #judgment-foot {
            float: right;
            width: 17em;
            margin: 0.5pt 72pt 0.5pt 0cm;
          }
          #judgment-foot p {
            line-height: 25pt; font-family: 仿宋; font-size: 16pt;
          }
        </style>
        <div id='judgment' style="text-align: justify">
          <div id="judgment-head">
            <p placeholder="文书标题-法院名称"
               id="courtName" wiserv-editor wiserv-auto-completer  contenteditable
               ng-model="Editor.Template.templateArticle.indexTitle.courtName"></p>
            <p placeholder="文书标题-文书名称"
               id="lawCaseTitle" wiserv-editor wiserv-auto-completer contenteditable
               ng-model="Editor.Template.templateArticle.indexTitle.lawCaseTitle"></p>
            <p placeholder="文书标题-案号"
               id="lawCaseCode" wiserv-editor wiserv-auto-completer contenteditable
               ng-model="Editor.Template.templateArticle.indexTitle.lawCaseCode"></p>
          </div>
          <div id="judgment-body">
            <div id="judgment-top">
              <p placeholder="首部-当事人"
                id="accuser" wiserv-editor wiserv-auto-completer contenteditable
                ng-model="Editor.Template.templateArticle.parties.accuser"></p>
              <p placeholder="首部-当事人"
                id="accuserAgent" wiserv-editor wiserv-auto-completer contenteditable
                ng-model="Editor.Template.templateArticle.parties.accuserAgent"></p>
              <p placeholder="首部-当事人"
                id="defendant" wiserv-editor wiserv-auto-completer contenteditable
                ng-model="Editor.Template.templateArticle.parties.defendant"></p>
              <p placeholder="首部-当事人"
                id="defendantAgent" wiserv-editor wiserv-auto-completer contenteditable
                ng-model="Editor.Template.templateArticle.parties.defendantAgent"></p>
            </div>
            <div id='judgment-bottom'>
                <p placeholder="首部-案件由来和审理经过"
                  id="caseGeneral" wiserv-editor wiserv-auto-completer contenteditable
                  ng-model="Editor.Template.templateArticle.parties.caseGeneral"></p>
                <p placeholder="事实-诉讼请求"
                  id="claims" wiserv-editor wiserv-auto-completer contenteditable
                  ng-model="Editor.Template.templateArticle.fact.claims"></p>
                <p placeholder="事实-证据"
                  id="argued" wiserv-editor wiserv-auto-completer contenteditable
                  ng-model="Editor.Template.templateArticle.fact.argued"></p>
                <p placeholder="事实"
                  id="factResult" wiserv-editor wiserv-auto-completer contenteditable
                  ng-model="Editor.Template.templateArticle.fact.factResult"></p>
                <p placeholder="本院认为"
                  id="reason" wiserv-editor wiserv-auto-completer contenteditable
                  ng-model="Editor.Template.templateArticle.reason"></p>
                <p placeholder="裁判主文"
                  id="caseMain" wiserv-editor wiserv-auto-completer contenteditable
                  ng-change="Editor.Operation.autoComplete()"
                  ng-model="Editor.Template.templateArticle.caseMain"></p>
                <p placeholder="尾部-诉讼费用负担" wiserv-smart-calculator
                  id="legalCosts" wiserv-editor wiserv-auto-completer contenteditable
                  ng-model="Editor.Template.templateArticle.bottom.legalCosts"></p>
                <p placeholder="尾部-告知事项"
                  id="informInfo" wiserv-editor wiserv-auto-completer contenteditable
                  ng-model="Editor.Template.templateArticle.bottom.informInfo"></p>
            </div>
          </div>
          <div id="judgment-foot">
            <p placeholder="落款-审判长"
               id="chiefJudge"
               ng-model="Editor.Template.templateArticle.inscribe.chiefJudge"></p>
            <p placeholder="落款-审判员"
               id="judge"
               ng-model="Editor.Template.templateArticle.inscribe.judge"></p>
            <p placeholder="落款-日期"
               id="judgmentDate"
               ng-model="Editor.Template.templateArticle.inscribe.judgmentDate"></p>
            <p placeholder="落款-书记员"
               id="courtClerk"
               ng-model="Editor.Template.templateArticle.inscribe.courtClerk"></p>
          </div>
        </div>
      </div>
      <menu class="right">
        <div class="operation">
          <div class="left">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <input type="checkbox" checked>
              </span>
              <input disabled type="text" class="form-control" value="自动保存">
            </div>
          </div>
          <div class="operate-btn btn-group">
            <button class="btn btn-default btn-sm" ng-click='Editor.Operation.errorCorrection()'>
              <i class="fa fa-cogs">&nbsp;纠错</i>
            </button>
            <button class="btn btn-default btn-sm" ng-click='Editor.Operation.exportWORD()'>
              <i class="fa fa-file-word-o">&nbsp;导出</i>
            </button>
            <button ng-click='Editor.Operation.printJudgment()' class="btn btn-default btn-sm">
              <i class="fa fa-print">&nbsp;打印</i>
            </button>
            <button class="btn btn-primary btn-sm" ng-click='Editor.Operation.saveJudgment()'>
              <i class="fa fa-floppy-o">&nbsp;保存</i>
            </button>
          </div>
        </div>
        <uib-accordion close-others=true>
          <div uib-accordion-group class="panel-default" is-open=true>
            <uib-accordion-heading>
              <i class="fa fa-database">&nbsp;&nbsp;案件信息</i>
            </uib-accordion-heading>
            <div class="list-group">
              <a class="list-group-item">案件名称：{{Editor.Judgment.lawCaseTitle}}</a>
              <a class="list-group-item">审理程序：{{Editor.Judgment.judgment}}</a>
              <a class="list-group-item">案件类型：{{Editor.Judgment.category}}</a>
              <a class="list-group-item">案由：{{Editor.Judgment.causeOfAction}}</a>
              <a class="list-group-item">受理日期：{{Editor.Judgment.acceptedDate}}</a>
            </div>
          </div>
          <!-- 裁判理由 -->
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-building-o">&nbsp;&nbsp;裁判理由</i>
            </uib-accordion-heading>
            <div class="template-tree">
              <button class="pull-right btn btn-default btn-sm"
                ng-click="Editor.ReasonTree.refresh()">
                <i class="pull-right glyphicon glyphicon-refresh"></i>
              </button>
              <treecontrol class="tree-boot"
                 tree-model="Editor.ReasonTree.tree"
                 on-selection="Editor.ReasonTree.match(node)"
                 options="Editor.Constant.reasonTreeOptions"
                 expanded-nodes="Editor.ReasonTree.expandedNodes"
                 selected-node="Editor.ReasonTree.selectedNode">
                 <span class='tree-item'>{{node.conditionName}}</span>
              </treecontrol>
            </div>
            <div class='template-tree-box animated zoomIn'>
              <div class="btn-group">
                <button ng-click='Editor.ReasonTree.transfer({accordThinkInfo: Editor.ReasonTree.selectedContent.accordThinkInfo})' class="btn btn-default btn-xs">
                  <i class="fa fa-code-fork">&nbsp;引用</i>
                </button>
                <button ng-click='Editor.ReasonTree.update()' class="btn btn-success btn-xs">
                  <i class="fa fa-pencil-square-o">&nbsp;更新</i>
                </button>
              </div>
                <button class='btn btn-warning btn-xs pull-right' ng-click='Editor.ReasonTree.empty()' class="btn btn-default btn-xs">
                  <i class="fa fa-reply">&nbsp;清除</i>
                </button>
              <div class="content" medium-editor
                data-placeholder="本院认为内容"
                bind-options="Editor.Constant.mediumEditorOptions"
                ng-model='Editor.ReasonTree.selectedContent.accordThinkInfo'>
              </div>
            </div>
          </div>
          <!-- 裁判主文模板 -->
          <div ng-class='similarCases' uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-file-audio-o">&nbsp;&nbsp;裁判主文</i>
            </uib-accordion-heading>
            <div class="template-tree">
              <button class="pull-right btn btn-default btn-sm"
                ng-click="Editor.MainCaseTree.refresh()">
                <i class="pull-right glyphicon glyphicon-refresh"></i>
              </button>
              <treecontrol class="tree-boot"
                 tree-model="Editor.MainCaseTree.tree[0]"
                 on-selection="Editor.MainCaseTree.match(node, $parentNode)"
                 expanded-nodes="Editor.MainCaseTree.expandedNodes"
                 on-node-toggle="Editor.MainCaseTree.toggle(node)"
                 selected-nodes="Editor.MainCaseTree.selectedNodes"
                 options="Editor.Constant.caseMainTreeOptions">
                 <span class='tree-item'>{{node.label | limitTo:18 }}</span>
              </treecontrol>
            </div>
            <div class='template-tree-box animated zoomIn'>
              <div class="btn-group">
                <button ng-click='Editor.MainCaseTree.transfer()' class="btn btn-default btn-xs">
                  <i class="fa fa-code-fork">&nbsp;引用</i>
                </button>
              </div>
              <div class="content" medium-editor
                data-placeholder="本院认为内容"
                bind-options="Editor.Constant.mediumEditorOptions"
                ng-model='Editor.MainCaseTree.content'>
              </div>
            </div>
          </div>
          <!-- 相似案例 -->
          <div ng-class='similarCases' uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-file-text-o">&nbsp;&nbsp;相似案例</i>
            </uib-accordion-heading>
            <ul class="list-group">
              <a class="list-group-item"
                 ng-repeat='similarCase in Editor.SimilarCase.list'
                 ng-click = "Editor.SimilarCase.choose(similarCase)">
                <span class="badge">{{similarCase.similarity}}</span>
                （{{$index+1}}）{{similarCase.caseTitle}} ({{similarCase.judgeDate}})
              </a>
            </ul>
            <div ng-if='Editor.SimilarCase.selected.orgText' class="content">
              {{Editor.SimilarCase.selected.orgText}}
            </div>
          </div>
          <div ng-class='lawitem' uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-qrcode">&nbsp;&nbsp;关联法条</i>
            </uib-accordion-heading>
            <uib-tabset active="activePill">
              <uib-tab index="0" heading="相似案例关联法条">
                <ul class="list-group">
                  <a ng-repeat='similarCase in Editor.SimilarCase.list' class="list-group-item">
                    <span class="badge">{{similarCase.similarity}}</span>
                    {{similarCase.laws[0]}}
                  </a>
                </ul>
              </uib-tab>
              <uib-tab index="1"
                heading="案件类型关联法条">
                <ul class="list-group">
                  <a ng-repeat='lawItem in Editor.LawItem.list' class="list-group-item">
                    {{lawItem.case_accord}}
                  </a>
                </ul>
              </uib-tab>
            </uib-tabset>
          </div>
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-bookmark-o">&nbsp;&nbsp;案件材料</i>
            </uib-accordion-heading>
            <uib-tabset active="activePill" type='pills'>
              <uib-tab ng-repeat='material in Editor.Constant.materials'
                index="$index" heading="{{material.tag}}">
                <div class="material" ng-click='Editor.Operation.openMaterial(material)'>
                  <img ng-src="{{material.path}}">
                </div>
              </uib-tab>
            </uib-tabset>
          </div>
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-hourglass-end">&nbsp;&nbsp;编辑历史</i>
            </uib-accordion-heading>
            <ul class='timeline'>
              <li class='block' ng-repeat='history in Editor.Judgment.historyList'>
                <p>
                  <span class="text-primary pull-left">{{history.updateTime}}</span>
                  <span class="text-primary pull-right">{{history.updateBy}}</span>
                </p>
                <b class="text-warning">{{history.updateLabel}}</b>
                <span class="text-muted">{{history.updateInfo | limitTo:80}}</span>
              </li>

            </ul>
          </div>
          <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>
              <i class="fa fa-calculator">&nbsp;&nbsp;费用计算</i>
            </uib-accordion-heading>
            <div class="calculator form-group form-sm">
              <label>➀ 案件受理费：</label>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button class="btn btn-info" ng-click="Editor.Operation.counterA()"><i class="fa fa-keyboard-o"></i></button>
                </span>
                <input ng-model='Editor.Operation.inputA' type="text" class="form-control" placeholder="请输入案件受理费...">
              </div>
              <label>➁ 诉讼保全费：</label>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button class="btn btn-info" ng-click="Editor.Operation.counterB()"><i class="fa fa-keyboard-o"></i></button>
                </span>
                <input ng-model='Editor.Operation.inputB' type="text" class="form-control" placeholder="请输入诉讼保全费...">
              </div>
              <label>➂ 原告负担：</label>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button class="btn btn-info" ng-click="Editor.Operation.counterC()"><i class="fa fa-keyboard-o"></i></button>
                </span>
                <input ng-model='Editor.Operation.inputC' type="text" class="form-control" placeholder="请输入原告负担...">
              </div>
              <label>➃ 被告负担：</label>
              <div class="input-group input-group-sm">
                <span class="input-group-btn">
                  <button ng-model='Editor.Operation.inputD' class="btn btn-info" ng-click="Editor.Operation.counterD()"><i class="fa fa-keyboard-o"></i></button>
                </span>
                <input ng-model='Editor.Operation.inputD' type="text" class="form-control" placeholder="请输入被告负担...">
              </div>
            </div>
          </div>
        </uib-accordion>
      </menu>
    </section>

  </div>
</div>
