<div id="judgment-case-list-Editor">
    <section class='editor'>
      <div class="left">

        <div class="input-group input-group-sm">
          <span class="input-group-btn">
            <button ui-sref='judgment.case_list' class="btn btn-danger btn-xs btn-close">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
          <input type="text" class="form-control" ng-model="tree.query" placeholder="文书菜单过滤 ...">
        </div>
        <div class="menu-tree">
          <treecontrol class="tree-classic"
             tree-model="Editor.Constant.treeData"
             filter-expression = 'tree.query'
             options="Editor.Constant.treeSectionOptions"
             on-selection="showSelected(node)">
             <a ng-click="Editor.Operation.jumpToSection(node.id)">{{node.name}}</a>
          </treecontrol>
        </div>
      </div>
      <div class="center">
        <div id='judgment' style="text-align: justify">
          <style>
            #judgment-head #courtName {
              text-align: center; line-height: 25pt; margin: 0.5pt 0cm; font-family: 宋体; font-size: 22pt;
            }
            #judgment-head #lawCaseTitle {
              text-align: center; line-height: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 26pt;
            }
            #judgment-head #lawCaseCode {
              text-align: right; line-height: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 16pt;
            }
            #judgment-body p {
              line-height: 25pt; text-align: justify; text-justify: inter-ideograph; text-indent: 30pt; margin: 0.5pt 0cm; font-family: 仿宋; font-size: 16pt;
            }
            #judgment-foot p {
              text-align: right; line-height: 25pt; margin: 0.5pt 72pt 0.5pt 0cm; font-family: 仿宋; font-size: 16pt;
            }
          </style>
          <div id="judgment-head">
            <p data-placeholder="文书标题-法院名称"
               id="courtName"
               ng-model="Editor.Template.templateArticle.indexTitle.courtName"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="文书标题-文书名称"
               id="lawCaseTitle"
               ng-model="Editor.Template.templateArticle.indexTitle.lawCaseTitle"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="文书标题-案号"
               id="lawCaseCode"
               ng-model="Editor.Template.templateArticle.indexTitle.lawCaseCode"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
          </div>
          <div id="judgment-body">
            <p data-placeholder="首部-当事人"
               id="accuser"
               ng-model="Editor.Template.templateArticle.parties.accuser"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="首部-当事人"
               id="accuserAgent"
               ng-model="Editor.Template.templateArticle.parties.accuserAgent"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="首部-当事人"
               id="defendant"
               ng-model="Editor.Template.templateArticle.parties.defendant"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="首部-当事人"
               id="defendantAgent"
               ng-model="Editor.Template.templateArticle.parties.defendantAgent"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="首部-案件由来和审理经过"
               id="caseGeneral"
               ng-model="Editor.Template.templateArticle.parties.caseGeneral"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="事实-诉讼请求"
               id="claims"
               ng-model="Editor.Template.templateArticle.fact.claims"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="事实-证据"
               id="argued"
               ng-model="Editor.Template.templateArticle.fact.argued"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="事实-事实"
               id="factResult"
               ng-model="Editor.Template.templateArticle.fact.factResult"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="理由"
               id="reason"
               ng-model="Editor.Template.templateArticle.reason"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="裁判主文"
               id="caseMain"
               ng-model="Editor.Template.templateArticle.caseMain"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="尾部-诉讼费用负担"
               id="legalCosts"
               ng-model="Editor.Template.templateArticle.bottom.legalCosts"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="尾部-告知事项"
               id="informInfo"
               ng-model="Editor.Template.templateArticle.bottom.informInfo"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
          </div>
          <div id="judgment-foot">
            <p data-placeholder="落款-署名"
               id="chiefJudge"
               ng-model="Editor.Template.templateArticle.inscribe.chiefJudge"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="事实-证据"
               id="judge"
               ng-model="Editor.Template.templateArticle.inscribe.judge"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="事实-证据"
               id="courtClerk"
               ng-model="Editor.Template.templateArticle.inscribe.courtClerk"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
            <p data-placeholder="落款-日期"
               id="judgmentDate"
               ng-model="Editor.Template.templateArticle.inscribe.judgmentDate"
               medium-editor bind-options="Editor.mediumEditorOptions"></p>
          </div>
        </div>
      </div>
      <menu class="right">
        <div class="btn-group">
          <button class="btn btn-default btn-sm" ng-click='Editor.Operation.saveJudgment()'>
            <i class="fa fa-floppy-o">&nbsp;保存</i>
          </button>
          <button class="btn btn-default btn-sm">
            <i class="fa fa-eye">&nbsp;预览</i>
          </button>
          <button class="btn btn-default btn-sm" ng-click='Editor.Operation.exportWORD()'>
            <i class="fa fa-file-word-o">&nbsp;导出</i>
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-history">&nbsp;历史</i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <div class="list-group">
                <a class="list-group-item">第1次修改</a>
                <a class="list-group-item">第2次修改</a>
                <a class="list-group-item">第3次修改</a>
                <a class="list-group-item">第4次修改</a>
              </div>
            </ul>
          </div>
          <button class="btn btn-default btn-sm"
              uib-popover-template="Editor.Constant.calculator"
              popover-placement="bottom-right">
            <i class="fa fa-calculator">&nbsp;计算器</i>
          </button>
        </div>
        <uib-accordion close-others=true>
          <div heading='案件信息' uib-accordion-group class="panel-default" is-open=true>
            <div class="list-group">
              <a class="list-group-item">案件名称：{{Editor.Judgment.lawCaseTitle}}</a>
              <a class="list-group-item">审理程序：{{Editor.Judgment.judgment}}</a>
              <a class="list-group-item">案件类型：{{Editor.Judgment.category}}</a>
              <a class="list-group-item">案由：{{Editor.Judgment.causeOfAction}}</a>
              <a class="list-group-item">受理日期：{{Editor.Judgment.acceptedDate}}</a>
            </div>
          </div>
          <div heading='文书模板' uib-accordion-group class="panel-default">
            <div class="template-tree">
              <treecontrol class="tree-light"
                 tree-model="Editor.reasonTree"
                 options="Editor.Constant.treeTemplateOptions"
                 on-selection="showSelected(node)">
                 <span class='tree-item' ng-click='Editor.TemplateTree.match(node.treeId)'>{{node.conditionName}}</span>
              </treecontrol>
            </div>
            <div class='template-tree-box' ng-if='Editor.TemplateTree.accordThinkInfo' >
              <div class="btn-group">
                <button ng-click='Editor.TemplateTree.transfer({accordThinkInfo: Editor.TemplateTree.accordThinkInfo})' class="btn btn-default btn-xs">
                  <i class="fa fa-code-fork">&nbsp;引用</i>
                </button>
                <button ng-click='Editor.TemplateTree.update(Editor.TemplateTree.accordThinkInfo)' class="btn btn-success btn-xs">
                  <i class="fa fa-pencil-square-o">&nbsp;修改</i>
                </button>
              </div>
              <div class="content" contenteditable="true" ng-model='Editor.TemplateTree.accordThinkInfo'>
                {{Editor.TemplateTree.accordThinkInfo}}
              </div>
            </div>
            <div class='template-tree-box' ng-if='Editor.TemplateTree.verdictThinkInfo'>
              <div class="btn-group">
                <button ng-click='Editor.TemplateTree.transfer({verdictThinkInfo: Editor.TemplateTree.verdictThinkInfo})' class="btn btn-default btn-xs">
                  <i class="fa fa-code-fork">&nbsp;引用</i>
                </button>
                <button class="btn btn-success btn-xs">
                  <i class="fa fa-pencil-square-o">&nbsp;修改</i>
                </button>
              </div>
              <div class="content" contenteditable="true">
                {{Editor.TemplateTree.verdictThinkInfo}}
              </div>
            </div>

          </div>
          <div ng-class='similarCases' heading='相似案例' uib-accordion-group class="panel-default">
            <ul class="list-group">
              <a class="list-group-item"
                 ng-repeat='similarCase in Editor.SimilarCase.list'
                 ng-click = "Editor.SimilarCase.choose(similarCase)">
                <span class="badge">{{similarCase.similarity}}</span>
                （{{$index+1}}）{{similarCase.caseTitle}} ({{similarCase.judgeDate}})
              </a>
            </ul>
            <div ng-if='Editor.SimilarCase.selected.orgText' class="content">
              {{Editor.SimilarCase.selected.orgText}}
            </div>
          </div>
          <div ng-class='lawitem' heading='关联法条' uib-accordion-group class="panel-default">
            <uib-tabset active="activeJustified" justified="true">
              <uib-tab index="0" heading="相似案例关联法条">
                <ul class="list-group">
                  <a ng-repeat='similarCase in Editor.SimilarCase.list' class="list-group-item">
                    <span class="badge">{{similarCase.similarity}}</span>
                    {{similarCase.laws[0]}}
                  </a>
                </ul>
              </uib-tab>
              <uib-tab index="1"
                heading="案件类型关联法条">
                <ul class="list-group">
                  <a ng-repeat='lawItem in Editor.LawItem.list' class="list-group-item">
                    {{lawItem.case_accord}}
                  </a>
                </ul>
              </uib-tab>
            </uib-tabset>
          </div>
          <div heading='案件材料' uib-accordion-group class="panel-default">
            <uib-tabset active="activeJustified" justified="true">
              <uib-tab index="0" heading="起诉书">
                <div class="material"><img src="assets/images/demo/material-1.jpg"></div>
              </uib-tab>
              <uib-tab index="1" heading="原告身份证明">
                <div class="material"><img src="assets/images/demo/material-2.jpg"></div>
              </uib-tab>
              <uib-tab index="3" heading="委托代理人证明">
                <div class="material"><img src="assets/images/demo/material-3.jpg"></div>
              </uib-tab>
              <uib-tab index="4" heading="起诉事项证明材料">
                <div class="material"><img src="assets/images/demo/material-4.jpg"></div>
              </uib-tab>
              <uib-tab index="5" heading="证据材料">
                <div class="material"><img src="assets/images/demo/material-5.jpg"></div>
              </uib-tab>
            </uib-tabset>
          </div>
        </uib-accordion>
      </menu>
    </section>
    <!--
    <aside class="bottom">
      bottom
    </aside>
    -->
  </div>
</div>


<script type="text/ng-template" id="calculator.html">
  <div id="calculator">
    <div class="input-group input-group-sm">
      <span class="input-group-btn">
        <button class="btn btn-danger"><i class="fa fa-share"></i></button>
      </span>
      <input class="form-control" type="text" placeholder="计算结果">
    </div>
    <div>
      <button class="btn btn-primary">7</button>
      <button class="btn btn-primary">8</button>
      <button class="btn btn-primary">9</button>
      <button class="btn btn-default">&plus;</button>
      <button class="btn btn-default">&minus;</button>
    </div>
    <div>
      <button class="btn btn-primary">4</button>
      <button class="btn btn-primary">5</button>
      <button class="btn btn-primary">6</button>
      <button class="btn btn-default">&times;</button>
      <button class="btn btn-default">&divide;</button>
    </div>
    <div>
      <button class="btn btn-primary">1</button>
      <button class="btn btn-primary">2</button>
      <button class="btn btn-primary">3</button>
      <button class="btn btn-primary">0</button>
      <button class="btn btn-success">&equals;</button>
    </div>
  </div>
</script>
