<div id='repository'>
  <div class="content">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon ">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="请输入关键字、法条、案由...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">检索知识库</button>
        </span>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">知识库状态</div>
      <div class="panel-body">
        <my-chart-item>
      </div>
    </div>
  </div>
</div>
