<div id="judgment">
  <section>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <button href="#" class="add btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-plus">&nbsp;新增数据</span>
        </button>
        <button href="#" class="gerator btn btn-primary btn-sm">
          <span class="glyphicon glyphicon glyphicon-grain">&nbsp;生成裁判文书</span>
        </button>
        <div class="search form-group">
          <div class="input-group">
            <input placeholder='请输入查询案件名称...' typ e="text" class="form-control input-sm">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" type="button"><span class="glyphicon glyphicon-search">&nbsp搜索</span></button>
            </span>
          </div>
        </div>
      </div>
      <dtable options="judgment.options" rows="judgment.data" class="panel-body material">
        <column name="序号" flex-grow="2"></column>
        <column name="案件受理日期">
          <strong>{{$row.name}}</strong>: {{$cell}}
        </column>
        <column name="案件名称">
          <strong>{{$row.name}}</strong>: {{$cell}}
        </column>
        <column name="案由">
          <strong>{{$row.name}}</strong>: {{$cell}}
        </column>
        <column name="原告">
          <strong>{{$row.name}}</strong>: {{$cell}}
        </column>
        <column name="原告诉讼代理人">
          <strong>{{$row.name}}</strong>: {{$cell}}
        </column>
        <column name="被告">
          <strong>{{$row.name}}</strong>: {{$cell}}
        </column>
        <column name="被告诉讼代理人">
          <strong>{{$row.name}}</strong>: {{$cell}}
        </column>
      </dtable>
    </div>
  </section>



</div>
