#judgment {
  width: 100%;
  .table {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    .access {
      width: 100%;
      display: block;
      .search {
        float: right;
        display: inline-block;
        width: 20%;
      }
      .search.form-group {
        margin: 0px;
      }
    }
    .material {
      display: block;
    }
  }
  .material {
    color: black;
  }
}
