#judgment {
  width: 100%;
  .panel-heading {
    padding: 0;
    >.add, >.generator {
      border: none;
      background: rgba(0, 0, 0, .1);
    }
    >.search {
      float: right;
      margin: 0;
      display: inline-block;
      width: 300px;
      height: 34px;
      * {
        height: 34px;
      }
    }
  }
  .panel-body {
    padding: 0;
  }
  .material {
    font-size: 12px;
    background: @gray-background;
  }
}
