<div id="judgment">
    <div class="panel panel-primary patch">
      <div class="panel-heading">
        <!-- ui-sref='frame.judgmentCreate' -->
        <a class="btn btn-primary" ng-click="judgment.open()">
          <span class="glyphicon glyphicon-plus">&nbsp;新增裁判文书</span>
        </a>
        <div class="input-group">
          <input placeholder='请输入查询案件名称...' type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search">&nbsp;搜索</span></button>
          </span>
        </div>
      </div>
      <div class="panel-body">
        <dtable options="judgment.options" rows="judgment.data" class="material">
          <column name="序号" flex-grow="2"></column>
          <column name="案件受理日期">
            <strong>{{$row.name}}</strong>: {{$cell}}
          </column>
          <column name="案件名称">
            <strong>{{$row.name}}</strong>: {{$cell}}
          </column>
          <column name="案由">
            <strong>{{$row.name}}</strong>: {{$cell}}
          </column>
          <column name="原告">
            <strong>{{$row.name}}</strong>: {{$cell}}
          </column>
          <column name="原告诉讼代理人">
            <strong>{{$row.name}}</strong>: {{$cell}}
          </column>
          <column name="被告">
            <strong>{{$row.name}}</strong>: {{$cell}}
          </column>
          <column name="被告诉讼代理人">
            <strong>{{$row.name}}</strong>: {{$cell}}
          </column>
        </dtable>
      </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
